@import 'tailwindcss';

@theme {
  --font-display: 'Sansita', sans-serif;
  /* Breakpoints */
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 150rem;

  /* Font-sizes */
  --text-xxs: 0.6rem;
  --text-xxs--line-height: 0.9rem;
  --text-xxser: 0.45rem;
  --text-xxser--line-height: 0.62rem;
  --text-xxsest: 0.3rem;
  --text-xxsest--line-height: 0.45rem;

  --color-background-primary: #23202a;
  --color-background-secondary: #1e1b24;
  --color-black-primary: #19181f;
  --color-translucid-black: #0000005e;
  --color-white-primary: #fafafa;

  --ease-in-primary: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  --ease-in-secondary: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ease-in-tertiary: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  --inset-shadow-weak-green: inset 0 5px 10px 0 rgba(0, 255, 0, 0.5);
  --inset-shadow-strong-green: inset 0px 10px 20px 2px rgba(0, 255, 0, 0.5);
  --inset-shadow-weak-red: inset 0 5px 10px 0 rgba(255, 0, 0, 0.5);
  --inset-shadow-strong-red: inset 0px 10px 20px 2px rgba(255, 0, 0, 0.5);
  --inset-shadow-weak-black: inset 0 5px 10px 0 rgba(0, 0, 0, 0.37);
  --inset-shadow-strong-black: inset 0 8px 15px 2px rgba(0, 0, 0, 0.5);
}

@layer components {
  .bg-section-primary {
    @apply bg-black-primary;
  }

  .bg-section-secondary {
    @apply bg-background-secondary;
  }

  .bg-container-primary {
    background: linear-gradient(
      110deg,
      var(--color-background-primary) 60%,
      var(--color-background-secondary) 60%
    );
  }

  .bg-container-secondary {
    background: linear-gradient(
      110deg,
      var(--color-background-secondary) 60%,
      var(--color-background-primary) 60%
    );
  }

  .bg-section-divider-primary {
    background: linear-gradient(
      176.5deg,
      var(--color-black-primary) 50%,
      var(--color-background-secondary) 50%
    );
    @apply h-32 w-screen;
  }

  .bg-section-divider-secondary {
    background: linear-gradient(
      4.5deg,
      var(--color-black-primary) 50%,
      var(--color-background-secondary) 50%
    );
    @apply h-32 w-screen;
  }

  .grid-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }

  .grid-div1 {
    grid-area: 1 / 1 / 3 / 2;
  }

  .grid-div2 {
    grid-area: 1 / 2 / 2 / 3;
  }

  .grid-div3 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .page {
    @apply relative flex h-auto min-h-dvh w-screen flex-col overflow-x-hidden overflow-y-auto;
  }

  .p-containers {
    @apply p-2 sm:p-7 md:p-8 lg:p-10;
  }

  .px-corners {
    @apply px-8 sm:px-14 md:px-16 lg:px-20 xl:px-32;
  }

  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .section {
    @apply flex h-full w-screen flex-col gap-10 px-4 py-20 sm:px-7 md:px-8 lg:gap-16 lg:px-10 lg:py-32 xl:px-16;
  }

  .subsection {
    @apply flex flex-col px-4 py-20 sm:px-7 md:px-8 lg:px-10 xl:px-16;
  }

  .section-title {
    @apply text-3xl font-bold md:text-4xl xl:text-5xl 2xl:text-6xl;
  }

  .section-description {
    @apply text-xl md:text-2xl 2xl:text-4xl;
  }

  .shaped-ruppee {
    -webkit-clip-path: polygon(25% 0, 100% 0, 100% 75%, 75% 100%, 0 100%, 0% 25%);
    clip-path: polygon(25% 0, 100% 0, 100% 75%, 75% 100%, 0 100%, 0% 25%);
  }

  .shaped-message {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  }

  .shaped-right {
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }

  .shaped-left {
    -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  }
}

#root {
  box-sizing: border-box;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  display: none;
}
