@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  display: flex;
}

.custom-bg-1 {
  background: linear-gradient(110deg, #23202a 60%, #1e1b24 60%);
}

.custom-bg-2 {
  background: linear-gradient(110deg, #1e1b24 60%, #23202a 60%);
}

.custom-bg-divider-1 {
  background: linear-gradient(176.5deg, #19181f 50%, #1e1b24 50%);
}

.custom-bg-divider-2 {
  background: linear-gradient(4.5deg, #19181f 50%, #1e1b24 50%);
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
