@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  display: flex;
  overflow-x: hidden;
}

.custom-bg-1 {
  background: linear-gradient(110deg, #23202a 60%, #1e1b24 60%);
}

.custom-bg-2 {
  background: linear-gradient(110deg, #1e1b24 60%, #23202a 60%);
}

.custom-bg-divider-1 {
  background: linear-gradient(176.5deg, #19181F 50%, #1E1B24 50%);
}

.custom-bg-divider-2 {
  background: linear-gradient(4.5deg, #19181F 50%, #1E1B24 50%);
}
