@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  display: flex;
}

body::-webkit-scrollbar {
  display: none;
}

.custom-bg-1 {
  background: linear-gradient(110deg, #23202a 60%, #1e1b24 60%);
}

.custom-bg-2 {
  background: linear-gradient(110deg, #1e1b24 60%, #23202a 60%);
}

.custom-bg-divider-1 {
  background: linear-gradient(176.5deg, #19181f 50%, #1e1b24 50%);
}

.custom-bg-divider-2 {
  background: linear-gradient(4.5deg, #19181f 50%, #1e1b24 50%);
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.grid-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.grid-div1 {
  grid-area: 1 / 1 / 3 / 2;
}
.grid-div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.grid-div3 {
  grid-area: 2 / 2 / 3 / 3;
}
